{% extends 'layouts/base.html' %}

{% block title %}
Usuários
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>
        Usuários
    </h2>

    <a
        href="{% url 'user-create' %}"
        class="btn btn-primary">

        Novo Usuário

    </a>

</div>

<div class="card shadow-sm">

    <div class="card-body">

        <table class="table">

            <thead>

                <tr>

                    <th>Usuário</th>

                    <th>Nome</th>

                    <th>Perfil</th>

                    <th>Email</th>

                </tr>

            </thead>

            <tbody>

                {% for user in users %}

                <tr>

                    <td>

                        <a
                            href="{% url 'user-update' user.id %}"
                            class="text-decoration-none">

                            {{ user.nome_exibicao }}

                        </a>

                    </td>

                    <td>
                        {{ user.first_name }}
                        {{ user.last_name }}
                    </td>

                    <td>
                        {{ user.get_role_display }}
                    </td>

                    <td>
                        {{ user.email }}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}