{% load static %}

<div class="sidebar">

    <div class="sidebar-header">

        <div class="sidebar-logo">
            Help Desk
        </div>

        <small class="sidebar-subtitle">
            Gestão de Chamados
        </small>

    </div>

    <div class="sidebar-menu">

        <ul class="nav flex-column">

            <li class="nav-item">

    <a
        class="nav-link"
        href="{% url 'dashboard' %}">

        <i class="bi bi-speedometer2"></i>

        Dashboard

    </a>

</li>

<li class="nav-item">

    <a
        class="nav-link"
        href="{% url 'ticket-list' %}">

        <i class="bi bi-ticket-detailed"></i>

        Chamados

    </a>

</li>

<li class="nav-item">

    <a
        href="{% url 'change-password' %}"
        class="nav-link">

        <i class="bi bi-key"></i>

        Trocar Senha

    </a>

</li>

<li class="nav-item">

    <a
        href="{% url 'profile' %}"
        class="nav-link">

        <i class="bi bi-person-circle"></i>
        Meu Perfil

    </a>

</li>

{% if request.user.role == 'ADMIN' %}

<li class="nav-item">

    <a
        href="{% url 'user-list' %}"
        class="nav-link">

        <i class="bi bi-people"></i>

        Usuários

    </a>

</li>

{% endif %}

        </ul>

    </div>

    <div class="sidebar-footer">

        <div class="user-info">

            <div class="user-name">
                {{ request.user.nome_exibicao }}
            </div>

            <div class="user-role">

                {% if request.user.role == 'ADMIN' %}

                    Administrador

                {% elif request.user.role == 'TECNICO' %}

                    Técnico

                {% else %}

                    Colaborador

                {% endif %}

            </div>

        </div>

        <form method="post"
            action="{% url 'logout' %}"
            class="mt-3">

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-outline-light logout-btn">

                Sair

            </button>

        </form>

    </div>

</div>