{% extends 'layouts/base.html' %}

{% block title %}
Chamado #{{ ticket.id }}
{% endblock %}

{% block content %}

<div class="card">

    <div class="card-header">

        <h3>
            {{ ticket.codigo }}
        </h3>

    </div>

    <div class="card-body">
            {% if request.user.role == "ADMIN" or request.user.role == "TECNICO" %}

        {% if not ticket.assigned_to %}

            <a
                href="{% url 'ticket-assume' ticket.id %}"
                class="btn btn-primary mb-4">

                Assumir Chamado

            </a>

        {% endif %}

    {% endif %}

        <div class="mb-3">
            <strong>Título:</strong>
            {{ ticket.title }}
        </div>

        <div class="mb-3">
            <strong>Sistema:</strong>
            {{ ticket.system_name }}
        </div>

        <div class="mb-3">
            <strong>Categoria:</strong>
            {{ ticket.get_category_display }}
        </div>

        <div class="mb-3">
            <strong>Prioridade:</strong>
            {{ ticket.get_priority_display }}
        </div>

        <div class="mb-4">

            <strong>Status:</strong>

            {{ ticket.get_status_display }}

        </div>
                {% if request.user.role == "ADMIN" or request.user.role == "TECNICO" %}

        <form
            method="post"
            action="{% url 'ticket-change-status' ticket.id %}"
            class="mb-4">

            {% csrf_token %}

            <label class="form-label">

                Alterar Status

            </label>

            <select
                name="status"
                class="form-select">

                {% for value,label in ticket.Status.choices %}

                    <option
                        value="{{ value }}"
                        {% if value == ticket.status %}
                        selected
                        {% endif %}>

                        {{ label }}

                    </option>

                {% endfor %}

            </select>

            <button
                type="submit"
                class="btn btn-primary mt-2">

                Salvar

            </button>

        </form>

        {% endif %}

        <div class="mb-3">
            <strong>Solicitante:</strong>
            {{ ticket.requester }}
            <div class="mb-3">

                <strong>Responsável:</strong>

                {% if ticket.assigned_to %}

                    {{ ticket.assigned_to }}

                {% else %}

                    Não atribuído

                {% endif %}

            </div>
        </div>

        <div class="mb-3">
            <strong>Descrição:</strong>
            <br>
            {{ ticket.description }}
        </div>

        <div class="mb-3">
            <strong>Mensagem Técnica:</strong>
            <br>
            {{ ticket.error_message }}
        </div>

        <div class="mb-3">
            <strong>Criado em:</strong>
            {{ ticket.created_at|date:"d/m/Y H:i" }}
        </div>

    </div>

</div>

{% endblock %}