{% extends 'layouts/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Dashboard
</h2>

<div class="row g-4">

    <div class="col-md">

        <div class="card shadow-sm stats-card">

            <div class="card-body">

                <div class="stats-number">
                    {{ total_tickets }}
                </div>

                <div class="stats-label">
                    Total de Chamados
                </div>

            </div>

        </div>

    </div>

    <div class="col-md">

        <div class="card shadow-sm stats-card">

            <div class="card-body">

                <div class="stats-number">
                    {{ open_tickets }}
                </div>
                
                <div class="stats-label">
                    Abertos
                </div>
                                    
            </div>

        </div>

    </div>

    <div class="col-md">

        <div class="card shadow-sm stats-card">

            <div class="card-body">

                <div class="stats-number">
                    {{ analysis_tickets }}
                </div>
                
                <div class="stats-label">
                    Em Análise
                </div>
                                
            </div>

        </div>

    </div>

    <div class="col-md">

        <div class="card shadow-sm stats-card">

            <div class="card-body">
               
                <div class="stats-number">
                    {{ resolved_tickets }}
                </div>
                
                <div class="stats-label">
                    Resolvidos
                </div>
            </div>

        </div>

    </div>

    <div class="col-md">

        <div class="card shadow-sm stats-card border-danger">

            <div class="card-body">

                <div class="stats-number text-danger">
                    {{ critical_tickets }}
                </div>

                <div class="stats-label">
                    Críticos
                </div>

            </div>

        </div>

    </div>





</div>

<div class="row mt-4">

    <div class="col-lg-6">

        <div class="card shadow-sm">

            <div class="card-header">

                Últimos Chamados

            </div>

            <div class="card-body">

                {% for ticket in ultimos_chamados %}

                    <div class="dashboard-item">

                        <div>

                            <strong>

                                <span class="badge bg-secondary">
                                    {{ ticket.codigo }}
                                </span>
                                <a
                                    href="{% url 'ticket-detail' ticket.id %}"
                                    class="text-decoration-none">

                                    {{ ticket.title }}

                                </a>
                            </strong>
                            

                        </div>

                        <div>

                            {{ ticket.title }}

                        </div>

                        <small class="text-muted">

                            {{ ticket.created_at|date:"d/m/Y H:i" }}

                        </small>

                    </div>

                {% empty %}

                    <p>

                        Nenhum chamado encontrado.

                    </p>

                {% endfor %}

            </div>

        </div>

    </div>

    <div class="col-lg-6">

        <div class="card shadow-sm">

            <div class="card-header">

                Últimas Movimentações

            </div>

            <div class="card-body">

                {% for item in ultimas_movimentacoes %}

    <div class="dashboard-item">

        <div>

            <strong>
                {{ item.user }}
            </strong>

        </div>

        <div>
            {{ item.action }}
        </div>

        <div class="small text-muted">
            {{ item.ticket.codigo }}
        </div>

        <div class="small text-muted">
            {{ item.created_at|date:"d/m/Y H:i" }}
        </div>

    </div>

{% endfor %}

            </div>

        </div>

    </div>

</div>

{% endblock %}